body {
  /*background: lightcyan;*/
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;

}
.hoverbtn:hover {
background-color: #bbfabb;
}
.head-bar {
    display: flex;
    height: 50px;
    /*background-color: #28a73f;*/
}

.menu-button {
    width: 50px;
}

.search-box {
    width: 50%;
    display: flex;
}

.search-bar {
    height: 50%;
    width: 400px;
    margin: 10px;
    border: solid darkgreen 1px;
    border-radius: 10px;
    background-color: white;
}

.cart-button {
    width: 50px;
    margin-left: 200px;
}

.profile-button {
    width: 50px;
}

.pic-box {
    display:flex;
    width:100%;
    justify-content: space-evenly;
}
.samplepic{
    width: 10%;
    height:auto;
    
}

#footer{
	background: black;
  color: whitesmoke;
    padding: 3rem;
	/* padding-top: 5rem; */
	padding-top: 7rem;
    padding-bottom: 80px;
}
li{
	list-style: none;
}
.useful-link h2{
	padding-bottom: 15px;
	font-size: 20px;
    font-weight: 600;
}
.useful-link img{
	padding-bottom: 15px;
}
.use-links{
	line-height: 32px;
}
.use-links li i{
	font-size: 14px;
    padding-right: 8px;
    color: #898989;
}
.use-links li a{
	color: #303030;
    font-size: 15px;
    font-weight: 500;
	color: #777777;
}
.use-links li a:hover{
	color: white;
}


.address h2{
	padding-bottom: 15px;
	font-size: 20px;
    font-weight: 600;
}
.address img{
	padding-bottom: 15px;
}
.address-links li a{
	color: #303030;
    font-size: 15px;
    font-weight: 500;
	color: #777777;

}
.address-links li i{
	font-size: 16px;
    padding-right: 8px;
	color: #82074a;

}
.address-links li i:nth-child(1){
	padding-top: 9px;
}
.address-links .address1{
	font-weight: 500;
    font-size: 15px;
	display: flex;
}
.address-links{
	    line-height: 32px;
		color: #777777;
}
.copy-right-sec{
	padding: 1.8rem;
    background: #82074a;
    color: #fff;
    text-align: center;
}
.copy-right-sec a{
	color: #fcd462;
    font-weight: 500;
}
a{
  text-decoration:none;
  color: #777777;
}

/* CSS - Collapsible Menu Bar */
.open-menu, .close-menu {
    width: 50px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    background-color: lightgreen;
    color: black;
    border: none;
  } .open-menu:hover, .close-menu:hover {
    border: solid #aaa 1px;
  }
  
  .menu-bar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: lightgreen;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
  }
      
  .menu-bar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
    white-space: nowrap;
  } .menu-bar a:hover {
    color: black;
    background-color: #bbfabb;
  }
  
  .close-menu {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 36px;
    margin-left: 50px;
  }
      
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }
  .more-info{
    display: flex;
    justify-content: space-around;

  }
  .flex-container{
    display: flex;
    justify-content: space-around;
  }
  .logo{
    width: 45px;
    height: 35px;
    object-fit: cover;
  }
  /* Log In Page */
.login-page {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1115;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
}

.signupbtn {
  height: 40px;
  border: none;
  background-color: lightgreen;
  border-radius: 25px;
}.signupbtn:hover{
  border: solid orange 1px;
}

.login-page .close-login {
  position: relative;
  top: 110px;
  right: 20px;
  width: 70px;
  height: 70px;
  background-color: lightgreen;
  border: none;
  border-radius: 50%;
  font-size: 40px;
}

.login-box {
  width: 300px;
  height: 350px;
  margin: 100px 0 0 50px;
  padding: 50px;
  background-color: #eaffea;
  overflow: hidden;
  border-radius: 20px;
}

.login-box h2 {
  text-align: center;
  margin: 0;
  color: #111;
}

.login-box .login-form {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.input-box {
  width: 200px;
  height: 20px;
  background-color: #00000000;
  border: none;
  border-bottom: 2px solid black;
}

.submit-btn {
  padding: 10px 15px 10px 15px;
  margin: 10px 0 0 150px;
  background-color: lightgreen;
  border: 1px solid #aaffca;
  border-radius: 50px;
}

.other-choice {
  text-align: center;
  margin-top: 50px;
}

/*Sign Up Page*/
.SignUp-page{
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1115;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
}
.signup-box{
  width: 400px;
  height: 350px;
  margin: 100px 0 0 50px;
  padding: 50px;
  background-color: #eaffea;
  overflow: hidden;
  border-radius: 20px;
}
.SignUp-page .close-SignUp {
  position: relative;
  top: 110px;
  right: 20px;
  width: 70px;
  height: 70px;
  background-color: lightgreen;
  border: none;
  border-radius: 50%;
  font-size: 40px;
}
.img-box{
    width: 100%;
    height: 100%;
}
section {
  max-width: 1000px;
  margin: 20px auto;
  padding: 50px;
  background-color: lightgreen;
  border-radius: 8px;
  height: 400px;
}
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Creates 3 equal-width columns */
  grid-gap: 10px; /* Adds a gap of 10 pixels between grid items */
}

.item {
  background-size:100%;
  padding: 20px;
  text-align: center;
  height: 200px;
  color: white;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
}.item1{
  background: url("Clothes.webp") center no-repeat;
}.item2{
  background: url("Gadgets.webp") center no-repeat;
}.item3{
  background: url("Shoes.webp") center no-repeat;
}
.item p{
  background: linear-gradient(to bottom,#0000,black);
} 
